.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Set height to viewport height for full-screen centering */
    background-color: lightgray;
  }
  
  .loginform {
    width: 300px; /* Optional: Adjust width as needed */
  }
  